__pycache__
wandb
output*
preprocessed_data
results
output_partcrafter
minimal_dataset
results*/
breathing_sphere*/
*_frames_out/
dog_test/
inference_vae/
inference_vae_intp/
mini_dataset/
all_results/
all_inferences/
all_trainings/
assets/example_glb
assets/example_animation_full
assets/anim_real
mini_animated_dataset
assets/anim_ely_walk
large_trainings_4d
PIPE/
3d-4d-inference
3d4d-ckpt
PIPE_NEW/
dummy*
all_inferences_dome

*fbx*/
inferences_teaser

aligned_glb*/
out_*/

pretrained_weights/
sam2/
dataset_json/
.understand-anything/


# conda / micromamba envs
env/
.venv/
*.egg-info/